html {
  box-sizing: border-box;
  font-size: 62.5%;
  text-wrap: pretty;
  font-family: "PT Mono";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  margin: auto 1rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.xxx-large {
  font-size: 7rem;
  font-weight: 300;
}

.xx-large {
  font-size: 4rem;
  font-weight: 300;
}

.x-large {
  font-size: 3rem;
}

.large {
  font-size: 1.8rem;
}

.medium {
  font-size: 1.6rem;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.header__image {
  object-fit: cover;
  height: 100%;
}

.header__agere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header__data {
  position: relative;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto auto 6rem auto;
}

.header__content--text,
.data__text,
.body__data--text {
  font-family: "Roboto";
}

.data {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2.2rem;
  padding: 2rem 4rem;
  background-color: #fff;
  right: 0;
  margin-top: 4rem;
}

.header__symbol--yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  background-color: #f1dd7b;
  padding: 6.5rem;
}

.header__symbol--red {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  background-color: #e4572e;
  position: absolute;
  bottom: 0;
  padding: 5rem;
  transform: translateX(-10%) translateY(-15%);
}
.header__symbol--red p {
  position: absolute;
}

.body__data {
  padding: 5rem;
}

.body__data--title {
  margin: 2rem auto;
}

.icon {
  font-weight: bolder;
  font-size: 3rem;
  color: white;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.body__map {
  position: relative;
  background-color: #3c91e6;
  height: 70%;
}

.body__map--image {
  transform: translateX(-8%) translateY(14%);
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.body__coffee--image {
  height: 100%;
  object-fit: cover;
}

.body__coffee--float {
  position: absolute;
  width: 9rem;
  height: 50%;
  object-fit: cover;
  right: 28%;
  z-index: 99;
}

@media (max-width: 1080px) {
  .header__agere {
    justify-content: center;
  }
  .header__symbol--yellow, .header__symbol--red {
    margin: auto;
  }
  .header__symbol--red {
    position: static;
    transform: translateX(-10%) translateY(-115%);
  }
  .body__data {
    text-align: center;
    padding-top: 1rem;
  }
  .header,
  .body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .body__map {
    height: 100%;
  }
  .data {
    justify-content: space-between;
    position: static;
    flex-direction: column;
    text-align: center;
  }
  .body__map--image {
    position: static;
    transform: translateX(0%) translateY(0%);
  }
  .body__coffee--image {
    margin-top: 1rem;
  }
  .header__agere {
    margin-top: 42rem;
  }
  .header__content {
    margin-bottom: 5rem;
  }
  .body__coffee--float {
    display: none;
  }
}
.primary-button {
  border: 1px solid #989797;
  color: #989797;
  background-color: #fff;
  transition: all ease-in 0.2s;
  font-family: "PT Mono";
  padding: 0.8rem;
}
.primary-button:hover {
  border: 1px solid #000000;
  color: #000000;
}

.secundary-button {
  background-color: #4ca866;
  color: #fff;
  border: none;
  transition: all ease-in 0.2s;
  font-family: "PT Mono";
  padding: 0.8rem;
}
.secundary-button:hover {
  background-color: #bddfc7;
  color: #454545;
}

a {
  text-decoration: none;
  color: #989797;
  transition: all ease-in 0.3s;
}
a:visited {
  color: #989797;
}
a:hover {
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links__url {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.links__logo {
  width: 3.5rem;
}

.buttons {
  display: flex;
}

@media (max-width: 1080px) {
  .navbar {
    flex-direction: column;
  }
  .links__url {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
