@use '../base/typography';
@use '../base/base';

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  min-height: 43rem;
}

.header__agere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header__data {
  position: relative;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.header__content--text, .data__text {
  font-family: typography.$roboto;
}

.data {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: base.$white;
  right: 0;
  margin-top: 4rem;
}

@mixin header__symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 6.5rem;
}

.header__symbol--yellow {
  @include header__symbol;
  background-color: base.$buff;

}

.header__symbol--red {
  @include  header__symbol;
  background-color: base.$lightRedOchre;
  position: absolute;
  bottom: 0;
  transform: translateX(-10%) translateY(-15%);

  & p {
    position: absolute;
  }

}