@use '../base/typography';
@use '../base/base';

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.header__image {
  object-fit: cover;
  height: 100%;
}

.header__agere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header__data {
  position: relative;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto auto 6rem auto;
}

.header__content--text,
.data__text,
.body__data--text {
  font-family: typography.$roboto;
}

.data {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2.2rem;
  padding: 2rem 4rem;
  background-color: base.$white;
  right: 0;
  margin-top: 4rem;
}

@mixin header__symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.header__symbol--yellow {
  @include header__symbol;
  background-color: base.$buff;
  padding: 6.5rem;
}

.header__symbol--red {
  @include header__symbol;
  background-color: base.$flame;
  position: absolute;
  bottom: 0;
  padding: 5rem;
  transform: translateX(-10%) translateY(-15%);

  & p {
    position: absolute;
  }
}

.body__data {
  padding: 5rem;
}

.body__data--title {
  margin: 2rem auto;
}

.icon {
  font-weight: bolder;
  font-size: 3rem;
  color: white;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.body__map {
  position: relative;
  background-color: base.$blueDeFrance;
  height: 70%;
}

.body__map--image {
  transform: translateX(-8%) translateY(14%);
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.body__coffee--image {
  height: 100%;
  object-fit: cover;
}

.body__coffee--float {
  position: absolute;
  width: 9rem;
  height: 50%;
  object-fit: cover;
  right: 28%;
  z-index: 99;
}


@media (max-width: 1080px) {

  .header__agere {
    justify-content: center;
  }

  .header__symbol--yellow, .header__symbol--red {
    margin: auto;
  }

  .header__symbol--red {
    position: static;
    transform: translateX(-10%) translateY(-115%);
  }

  .body__data {
    text-align: center;
    padding-top: 1rem;
  }

  .header,
  .body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .body__map {
    height: 100%;
  }

  .data {
    justify-content: space-between;
    position: static;
    flex-direction: column;
    text-align: center;
  }

  .body__map--image {
    position: static;
    transform: translateX(0%) translateY(0%);
  }

  .body__coffee--image {
    margin-top: 1rem;
  }

  .header__agere {
    margin-top: 42rem;
  }

  .header__content {
    margin-bottom: 5rem;
  }

  .body__coffee--float {
    display: none;
  }

}
